<div id="loginheader" class="login-head-box">
    <img src="img/logovizavoo.png" class="login-head-img"/>
</div>
<div class="container">
    <form class="form-signin" name="loginForm" role="form">
        <h2 class="form-signin-heading">sign in now</h2>

        <div class="login-wrap">
            <input type="text" class="form-control" placeholder="Email" ng-model="login.email" focus >
            <input type="password" class="form-control" ng-model="login.password" placeholder="Password">
            <label class="checkbox">
               
                <span class="pull-right pull-ext">
                    <a data-toggle="modal" href="#login"> Forgot Password?</a>
                </span>
            </label>
            <button class="btn btn-lg btn-login btn-block" type="submit" ng-click="doLogin(login)">Sign in
            </button>
        </div>
        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="login"
             class="modal fade service-fade">
            <div class="modal-dialog">
                <div class="modal-content content-data-info">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Forgot Password ?</h4>
                    </div>
                    <div class="modal-body">
                        <p class="email-data">Enter your e-mail address below to reset your password.</p>
                        <input type="text" name="email" placeholder="Email" autocomplete="off" ng-model="email" class="form-control placeholder-no-fix" focus>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                        <button class="btn btn-success"  type="submit"
                                ng-click="forgotFile(email);">Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->

    </form>

</div>
