<!--common script for all pages-->
<section id="container" class="">
    <div ng-include="'header.html'"></div>
    <div ng-include="'leftmenu.html'"></div>
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <div class="breadcrumbs">Party Bookings</div>

                        <div class="row line">
                            <div class="col-md-2">
                                <select ng-model="entryLimit" class="form-control" style="width:56%;">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" ng-model="search" ng-change="filter()" placeholder="Search"
                                       class="form-control"/>
                            </div>


                        </div>


                        <div class="panel-body">
                            <div class="row">
                                <div class="adv-table" ng-show="filteredItems > 0">
                                    <table class="display table table-bordered table-striped" id="dynamic-table">
                                        <thead>
                                        <tr>
                                            <th>S.No&nbsp;<a ng-click="sort_by('id');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Name&nbsp;<a ng-click="sort_by('customer_name');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Party Name&nbsp;<a ng-click="sort_by('party_name');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Guest Count&nbsp;<a ng-click="sort_by('guest_count');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Phone Number&nbsp;<a ng-click="sort_by('mobile');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Party Date&nbsp;<a ng-click="sort_by('party_date');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>
                                            <th>Appointment Time&nbsp;<a ng-click="sort_by('appointment_time');"><i
                                                    class="glyphicon glyphicon-sort"></i></a></th>


                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit"
                                            class="gradeX">
                                            <td>{{$index+1}}</td>
                                            <td>{{data.customer_name}}</td>
                                            <td>{{data.party_name}}</td>
                                            <td>{{data.guest_count}}</td>
                                            <td>{{data.mobile}}</td>
                                            <td>{{data.party_date}}</td>
                                            <td>{{data.appointment_time}}</td>
                                            <!--              <button type="button" class="btn btn-{{buttonStyle}}" ng-click="toggle = !toggle">{{toggleText}}</button>-->
                                        </tr>

                                        </tbody>

                                    </table>

                                </div>


                            </div>
                            <div class="col-md-12" ng-show="filteredItems == 0">
                                <div class="col-md-12 no-data">
                                    <h4>No Party Booking found</h4>
                                </div>
                            </div>
                            <div class="col-md-12" ng-show="filteredItems > 0">
                                <div pagination="" page="currentPage" on-select-page="setPage(page)"
                                     boundary-links="true" total-items="filteredItems" items-per-page="entryLimit"
                                     class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>

                            </div>
                        </div>
                    </section>

                </div>

                <!-- page end-->
            </div>
        </section>
    </section>


    <!--footer end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
