h1 UserLogin
h3 RegisterFromEmail
form(action='/RegisterFromEmail', method='post', enctype="multipart/form-data")
    | first_name :
    input(type='text', name='first_name')
    | last_name :
    input(type='text', name='last_name')
    | email :
    input(type='text', name='email')
    | password :
    input(type='text', name='password')
    | mobile :
    input(type='text', name='mobile')
    | user_type :
    input(type='text', name='user_type')
    | device token :
    input(type='text', name='device_token')
    | device_type :
    input(type='text', name='device_type')
    | app version :
    input(type='text', name='app_version')
    | profile_pic :
    input(type='file', name='profile_pic')
    input(type='submit', value='submit')
h3 EmailLogin
form(action='/EmailLogin', method='post')
    | email :
    input(type='text', name='email')
    | password :
    input(type='text', name='password')
    | user_type :
    input(type='text', name='user_type')
    | device token :
    input(type='text', name='device_token')
    | device_type :
    input(type='text', name='device_type')
    | app version :
    input(type='text', name='app_version')
    input(type='submit', value='submit')
h3 FB Login
form(action='/fbLogin', method='post')
    | first_name :
    input(type='text', name='first_name')
    | last_name :
    input(type='text', name='last_name')
    | email :
    input(type='text', name='email')
    | mobile :
    input(type='text', name='mobile')
    | FB ID :
    input(type='text', name='fb_id')
    | fb access token :
    input(type='text', name='fb_access_token')
    | device token :
    input(type='text', name='device_token')
    | device_type :
    input(type='text', name='device_type')
    | app versioncode :
    input(type='text', name='app_version')
    input(type='submit', value='submit')
h3 userLogout
form(action='/userLogout', method='post')
    | access_token :
    input(type='text', name='access_token')
    input(type='submit', value='submit')
h3 forgotPassword
form(action='/forgotPassword', method='post')
    | email :
    input(type='text', name='email')
    input(type='submit', value='submit')
h3 access Token Login
form(action='/accessTokenLogin', method='post')
    | access_token :
    input(type='text', name='access_token')
    | device token :
    input(type='text', name='device_token')
    | device_type :
    input(type='text', name='device_type')
    | app version :
    input(type='text', name='app_version')
    input(type='submit', value='submit')
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
h1 userProfile
h3 getProfileData
form(action='/getProfileData', method='post')
    | access_token :
    input(type='text', name='access_token')
    input(type='submit', value='submit')
h3 editProfileData
form(action='/editProfileData', method='post', enctype="multipart/form-data")
    | access_token :
    input(type='text', name='access_token')
    | email :
    input(type='text', name='email')
    | mobile :
    input(type='text', name='mobile')
    | first_name :
    input(type='text', name='first_name')
    | last_name :
    input(type='text', name='last_name')
    | profile_pic :
    input(type='file', name='profile_pic')
    input(type='submit', value='submit')
h3 changePassword
form(action='/changePassword', method='post')
    | access_token :
    input(type='text', name='access_token')
    | old_password :
    input(type='text', name='old_password')
    | new_password :
    input(type='text', name='new_password')
    input(type='submit', value='submit')
h3 feedbackByCustomer
form(action='/feedbackByCustomer', method='post')
    | access_token :
    input(type='text', name='access_token')
    | message :
    input(type='text', name='message')
    input(type='submit', value='submit')
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
h1 booking
h3 partyBooking
form(action='/partyBooking', method='post')
    | access_token :
    input(type='text', name='access_token')
    | booking_title :
    input(type='text', name='booking_title')
    | number_of_guests :
    input(type='text', name='number_of_guests')
    | booking_date :
    input(type='text', name='booking_date')
    | offset :
    input(type='text', name='offset')
    input(type='submit', value='submit')
h3 normalBooking
form(action='/normalBooking', method='post')
    | access_token :
    input(type='text', name='access_token')
    | service_id :
    input(type='text', name='service_id')
    | card_id :
    input(type='text', name='card_id')
    | booking_date :
    input(type='text', name='booking_date')
    | address :
    input(type='text', name='address')
    | latitude :
    input(type='text', name='latitude')
    | longitude :
    input(type='text', name='longitude')
    | schedule_type :
    input(type='text', name='schedule_type')
    | limit :
    input(type='text', name='limit')
    | offset :
    input(type='text', name='offset')
    | service_price :
    input(type='text', name='service_price')
    | service_type :
    input(type='text', name='service_type')
    | service_time :
    input(type='text', name='service_time')
    | city :
    input(type='text', name='city')
    input(type='submit', value='submit')
h3 myBookings
form(action='/myBookings', method='post')
    | access_token :
    input(type='text', name='access_token')
    input(type='submit', value='submit')
h3 bookingDetails
form(action='/bookingDetails', method='post')
    | access_token :
    input(type='text', name='access_token')
    | booking_id :
    input(type='text', name='booking_id')
    input(type='submit', value='submit')
h3 cancelBooking
form(action='/cancelBooking', method='post')
    | access_token :
    input(type='text', name='access_token')
    | booking_id :
    input(type='text', name='booking_id')
    | master_booking_id :
    input(type='text', name='master_booking_id')
    | all :
    input(type='text', name='all')
    input(type='submit', value='submit')
h3 getBookingStatus
form(action='/getBookingStatus', method='post')
    | access_token :
    input(type='text', name='access_token')
    | booking_id :
    input(type='text', name='booking_id')
    input(type='submit', value='submit')
h3 giveRating
form(action='/giveRating', method='post')
    | access_token :
    input(type='text', name='access_token')
    | booking_id :
    input(type='text', name='booking_id')
    | rating :
    input(type='text', name='rating')
    input(type='submit', value='submit')
h3 initialCall
form(action='/initialCall', method='post')
    | access_token :
    input(type='text', name='access_token')
    | device token :
    input(type='text', name='device_token')
    | device_type :
    input(type='text', name='device_type')
    | app version :
    input(type='text', name='app_version')
    input(type='submit', value='submit')
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
h1 promotion
h3 applyPromotionCode
form(action='/applyPromotionCode', method='post')
    | access_token :
    input(type='text', name='access_token')
    | promo_code :
    input(type='text', name='promo_code')
    input(type='submit', value='submit')
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
div --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
h1 Cards
h3 deleteCard
form(action='/deleteCard', method='post')
    | access_token :
    input(type='text', name='access_token')
    | card_id :
    input(type='text', name='card_id')
    input(type='submit', value='submit')
h3 defaultCard
form(action='/defaultCard', method='post')
    | access_token :
    input(type='text', name='access_token')
    | card_id :
    input(type='text', name='card_id')
    input(type='submit', value='submit')
h3 sendAndroidPush
form(action='/sendAndroidPush', method='post')
    input(type='submit', value='submit')